<!DOCTYPE html>
<html>
<head>
  <title>Influx Employees</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    table, th, td {
      border: 1px solid black;
    }

    body{
      font-family:Arial, Helvetica, sans-serif;
      font-size:13px;
    }
    .notice, {
      border: 1px solid;
      margin: 10px 0px;
      padding:15px 10px 15px 50px;
      background-repeat: no-repeat;
      background-position: 10px center;
    }
    .notice {
      color: #00529B;
      background-color: #BDE5F8;
    }

  </style>
</head>
<body>

  <% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
  <% end -%>

<%= yield %>

</body>
</html>
